*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

.hero{
    margin-top: 0;
    background-image: url(./images/background.jpg);
    border: 1px solid white;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: none;
    margin-right: none;
    position: relative;
    height: 100%;
    width: 100;
   
}
.hero h1{
    position: relative;
    padding: 10px;
        
}
.hero .h1{
    position: relative;
    margin-top: 100px;
    font-size: 60px;
    margin-bottom: 100px;
    margin-left: 100px;
    
}
#banner{
   float: right;
   margin-top: -590px;
   margin-bottom: 100px;
   position: relative;
   opacity: 60%;
   width: 500px;
   height: 500px;
   margin-right: 100px;
   border-radius: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
#h2{
    margin-left: 100px;
    margin-top: 10px;
}
#p1{
    text-align: justify ;
    margin-left: 100px;
    margin-right: 100px;
}
.portrait{
    background: #000;
}   
.portrait p{
    font-size: 14px;
    text-align: justify;
    line-height: 12px;
    background: url(images/textwithimage.jpg); 

    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -0px;
    -webkit-background-clip: text;
    -webkit-text-fill-center: rgb(233, 217, 217);
}
audio{
    display: none;
}
div.gallery {
    display: inline-block; /* this makes the container a flex container */
  justify-content: center; /* this centers the items horizontally */
  align-items: center; /* this centers the items vertically */
  }
 
  div.gallery img {
    width: 232.5px;
    height: 200px;
  }
  .img-margin{
    margin-left: 100px;
    margin-right: 100px;
  }